body{
  background-image: url(images/Hero_Lords.jpg);
  background-size: cover;
  
 
  
}

.parent{
  border: solid black;
  max-width: 990px;
  background-color: rgba(255, 255, 255, 0.877);
  margin: 0px auto;
  padding: 15px;
  display: flow-root;
}




section{
  border: solid black;
  max-width: 990px;
  background-color: rgba(255, 255, 255, 0.877);
  margin: 0px auto;
  padding: 15px;
}

.flex-container{
  width: 100%;
  height: auto;
  border: solid black;
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: centre;
  margin: 3px auto;
  max-width: 960px;
  /* Use row to display as row*/
  /* Use column to display as column*/
}

.flex-box{
  width: 300px;
  height: 200px;
  background: lightgrey;
  align-content: space-between;
  padding: 6px;
  font-size: 14px;
  margin: 8px auto;
  flex-direction: row;
  text-align: justify;
  
}

.bear{
  float: left;
  width: 25%;
  height: auto;
  padding: 6px;
}

.lord{
  float: left;
  padding: 6px;
}

@media screen and (max-width: 998px){
  section{
    max-width: 935px;
  }
  
  .flex-container{
  width: 70%;
  height: auto;
  border: solid black;
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: centre;
  margin: 3px auto;
  max-width: 960px;
  } 
  
  
  .flex-box{
    width: 300;
    margin: 8px auto;
    
    
  }
}

@media screen and (max-width: 480px){
  section{
    display: flow-root;
  }
  
  .flex-container{
  width: 100%;
  height: auto;
  border: solid black;
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: centre;
  margin: 3px auto;
  max-width: 960px;
  display: flow-root;
  
  } 
  
  
  .flex-box{
    margin: 8px auto;
    
    
   
    
  }
}

